body{
    background-image: url("../img/money.jpg");
    background-size: cover;
}

.converter-main-panel{
    margin-top: 50px;
}

div.row{
    padding: 10px;
}

.header{
    background-color: darkblue;
    color: white;
    font-weight: bold;
    font-size: 25px;
    text-align: right;
}

.header-title{
    text-align: left;
}

.header-date{
    margin-top: 5px;
    font-weight: normal;
    font-size: 18px !important;
}

.datepicker{
    background: darkblue !important;
    width:100% !important;
    color: white;
    border-color: darkblue;
    border-width: 0 !important;
}

input.datepicker {
    border: none; /* Забираєм рамку */
    outline: none; /* УЗабираєм січення в Chrome и Safari */
    -webkit-appearance: none; /* Забираєм рамку в Chrome и Safari */
    width: 274px; /* ширина поля */
    vertical-align: middle; /* вирівнювання по середині */
}
input.datepicker {
    width: 20px; /* Ширина кнопки */
    height: 20px; /* Висота кнопки */
    border: none; /* Забираєм рамку */
    /*background: url(../img/calendar.png) no-repeat 50% 50% !important; !* Параметры фона *!*/
}


.panel{
    border: 3px solid darkblue;
    background: white;
}

.toggle_radio_wrapper{
    border-bottom: 3px solid darkblue;
}

.currency-select-title{
    padding-top: 2px;
    font-size: 20px;
}

.result{
    border-top: 3px solid darkblue;
    padding: 0 !important;
}

.result-title{
    border-right: 3px solid darkblue;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
    background: darkblue;
    padding: 5px;
}

.result-value{
    text-align: center;
    font-size: 20px;
    padding: 5px;
}


/* кнопка зміни валют на обернені*/
#change-button {
    width: 50px;
    height: 35px;
    background: darkblue;
    border: darkblue;
}

#change-button img {
    width: 17px;
    height: 17px;
    color:red;
}



/* радіо кнопки у вигляди повзунка для зміни Купити/Продати */
.toggle_radio{
    position: relative;
    background: darkblue;
    margin: 4px auto;
    overflow: hidden;
    padding: 0 !important;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    position: relative;
    height: 35px;
    width: 214px;
}
.toggle_radio > * {
    float: left;
}
.toggle_radio input[type=radio]{
    display: none;
    /*position: fixed;*/
}
.toggle_radio label{
    font: 115%/1.618 "Source Sans Pro";
    /*color: rgba(255,255,255,.9);*/
    color: white;
    z-index: 0;
    display: block;
    width: 100px;
    height: 20px;
    margin: 3px 3px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    cursor: pointer;
    z-index: 1;
    /*background: rgba(0,0,0,.1);*/
    text-align: center;
    /*margin: 0 2px;*/
    /*background: blue;*/ /*make it blue*/
}
.toggle_option_slider{
    /*display: none;*/
    /*background: red;*/
    width: 100px;
    height: 29px; /* повзунок*/
    position: absolute;
    top: 3px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -ms-transition: all .4s ease;
    transition: all .4s ease;
}

#r1:checked ~ .toggle_option_slider{
    background: rgba(255,255,255,.6);
    left: 3px;
}
#r2:checked ~ .toggle_option_slider{
    background: rgba(255,255,255,.6);
    left: 109px;
}